* {
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: black;
    padding: 1px;
    color: salmon;
    
      }
  
  li {
font: arial;
  }
  
  article {
    margin-right: 50px;
    border: 5px solid white;
    padding-left: 10px;
    padding-right: 10px;
    font: arial;
  }
  
  h1 {
    font-family: 'Agbalumo', cursive;
    text-align: center;
   
  }
  
  /* h1, {
    display: inline-block;
  } */
  
  nav {
    
    background-color: salmon;
    padding-bottom: 23px;
    
  }
  
  a {
    margin: 10px;
    color: black;
  }
  
  footer {
    padding: 10px;
    background-color: white;
    margin-top: 10px;
  }

  .container {
    text-align: center;
  }
  
  .container img {
    display: inline-block; /* Make sure the image is treated as an inline-block element. */
  }

  th {
    background-color: grey;
    color: white;
  }
td {
    background-color: salmon;
   }


table {
    border-collapse: collapse; /* Removes cell spacing */
}

td, th {
    padding: 0; /* Removes cell padding */
    border: 1px solid #000; /* Add borders if desired */
}
table {
    margin: 0 auto; /* Horizontal centering */
    margin-top: 50px; /* Vertical centering, adjust as needed */
}

.div {
    
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    #userInput {
        text-align: center;
        padding: 20px;
        border: 1px solid white;
        border-radius: 5px;
    }
  
