* {
  font-family: Arial, sans-serif;
}

header {
  background-color: black;
  padding: 1px;
  color: salmon;

}

li {
  font: arial;
}

article {
  margin-right: 50px;
  border: 5px solid white;
  padding-left: 10px;
  padding-right: 10px;
  font: arial;
}

h1 {
  font-family: 'Agbalumo', cursive;
  text-align: center;

}

/* h1, {
    display: inline-block;
  } */

nav {

  background-color: salmon;
  padding-bottom: 23px;

}

a {
  margin: 10px;
  color: black;
}

footer {
  padding: 10px;
  background-color: white;
  margin-top: 10px;
}

.container {
  text-align: center;
}

footer {
  padding: 10px;
  background-color: white;
  margin-top: 10px;
}

th {
  background-color: grey;
  color: white;
}

td {
  background-color: salmon;
}


table {
  border-collapse: collapse;
  /* Removes cell spacing */
}



table {
  margin: 0 auto;
  /* Horizontal centering */
  margin-top: 50px;
  /* Vertical centering, adjust as needed */
  width: 1200px;
  height: 300px;
 
}



  .top-left-text {
    position: absolute; /* Position the text absolutely within the parent container */
    top: -25px; /* Adjust the top position as needed */
    left: 10px; /* Adjust the left position as needed */
    color: salmon;
    background-color: white;
    font-weight: bold;
      }

.button {
  margin-left: 40px;
}

#footerRow {
  height: 10px; /* Adjust the height as needed */
}

table {
  width: 79%; /* Set the table width to 100% of its container */
  
  border-collapse: collapse; /* Collapse table borders */
}

th, td {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  padding: 0.9%; /* Add padding for better spacing */
  text-align: center; /* Center text in cells */
  width: 20px; /* Set a fixed width for each cell */
}

.button {
  font-weight: bold;
  margin-left: 30px;
}

label {
    font-weight: bold;
    margin-left: 30px;
  font-size: small;

}

#addStoreForm input[type="text"] {
  width: 150px; 
  margin-left: 10px;
}

#addStoreForm input[type="number"] {
  width: 130px; 
  margin-left: 5px;
}

#addStoreForm {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20px;
  border: 1px solid black;
  border-radius: 4px;
  margin-top: 50px;
  position: relative; /* Set the parent container to a relative position */
  margin-left: 60px;
  margin-right: 60px;
  }
#l2 {
  padding-right: 25px;
}

#l3 {
  padding-right: 25px;
}
#l4 {
  padding-right: 10px;
}
  
#l1 {
  padding-right: 10px;
}
   
#ul1 {
 font-family: Arial, Helvetica, sans-serif;
 
}

#ul2 {
  font-family: Georgia, 'Times New Roman', Times, serif;

}

#ul3 {
  font-family: 'Times New Roman', Times, serif;
 
}
#salesDataByLocation {
  font-family: Georgia, 'Times New Roman', Times, serif;
}